
h2 {
    color: #11ff00;
}

.greenColor {
    color: #11ff00;
}

:host {
    display: flex;
    flex-direction: column;
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;
}

.excelBoard {
    margin-left: 15px;
    margin-right: 18px;
}

#view {
    flex: 1;

    padding: 10px;
    padding-top: 0px;

    overflow-y: auto;
    overflow-x: hidden;
}

div.section {
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
}

div.section:last-child {
    border-bottom: 0px;
}

div.group {
    min-width: 420px;
    margin-bottom: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

span {
    margin-right: 0.25em;
}

