<?xml version="1.0" encoding="UTF-8"?>
<plist>
  <dict>
    <key>maxParticles</key>
    <real>315</real>
    <key>angle</key>
    <real>90.000000</real>
    <key>angleVariance</key>
    <real>360.000000</real>
    <key>duration</key>
    <real>0.400000</real>
    <key>blendFuncSource</key>
    <integer>1</integer>
    <key>blendFuncDestination</key>
    <integer>771</integer>
    <key>startColorRed</key>
    <real>0.992157</real>
    <key>startColorGreen</key>
    <real>0.603922</real>
    <key>startColorBlue</key>
    <real>0.509804</real>
    <key>startColorAlpha</key>
    <real>1.000000</real>
    <key>startColorVarianceRed</key>
    <real>0.419608</real>
    <key>startColorVarianceGreen</key>
    <real>0.419608</real>
    <key>startColorVarianceBlue</key>
    <real>0.419608</real>
    <key>startColorVarianceAlpha</key>
    <real>1.000000</real>
    <key>finishColorRed</key>
    <real>1.000000</real>
    <key>finishColorGreen</key>
    <real>1.000000</real>
    <key>finishColorBlue</key>
    <real>1.000000</real>
    <key>finishColorAlpha</key>
    <real>1.000000</real>
    <key>finishColorVarianceRed</key>
    <real>0.498039</real>
    <key>finishColorVarianceGreen</key>
    <real>0.498039</real>
    <key>finishColorVarianceBlue</key>
    <real>0.498039</real>
    <key>finishColorVarianceAlpha</key>
    <real>1.000000</real>
    <key>startParticleSize</key>
    <real>8.000000</real>
    <key>startParticleSizeVariance</key>
    <real>5.000000</real>
    <key>finishParticleSize</key>
    <real>0.000000</real>
    <key>finishParticleSizeVariance</key>
    <real>0.000000</real>
    <key>sourcePositionx</key>
    <real>0.000000</real>
    <key>sourcePositiony</key>
    <real>0.000000</real>
    <key>sourcePositionVariancex</key>
    <real>250.000000</real>
    <key>sourcePositionVariancey</key>
    <real>30.000000</real>
    <key>rotationStart</key>
    <real>0.000000</real>
    <key>rotationStartVariance</key>
    <real>0.000000</real>
    <key>rotationEnd</key>
    <real>0.000000</real>
    <key>rotationEndVariance</key>
    <real>0.000000</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>gravityx</key>
    <real>0.000000</real>
    <key>gravityy</key>
    <real>0.000000</real>
    <key>speed</key>
    <real>50.000000</real>
    <key>speedVariance</key>
    <real>10.000000</real>
    <key>radialAcceleration</key>
    <real>-60.000000</real>
    <key>radialAccelVariance</key>
    <real>0.000000</real>
    <key>tangentialAcceleration</key>
    <real>15.000000</real>
    <key>tangentialAccelVariance</key>
    <real>0.000000</real>
    <key>tangentialAccelVariance</key>
    <real>0.000000</real>
    <key>rotationIsDir</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>1.500000</real>
    <key>particleLifespanVariance</key>
    <real>1.000000</real>
    <key>textureFileName</key>
    <string>lizi_xingxing_katong_02.png</string>
  </dict>
</plist>
