<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>startColorVarianceGreen</key>
        <real>0.1137255</real>
        <key>angle</key>
        <real>90.0000000</real>
        <key>finishColorAlpha</key>
        <real>0.0000000</real>
        <key>startParticleSizeVariance</key>
        <real>25.0000000</real>
        <key>blendFuncSource</key>
        <integer>770</integer>
        <key>angleVariance</key>
        <real>0.0000000</real>
        <key>blendFuncDestination</key>
        <integer>1</integer>
        <key>finishColorBlue</key>
        <real>1.0000000</real>
        <key>finishParticleSize</key>
        <real>35.0000000</real>
        <key>emitterType</key>
        <real>0.0000000</real>
        <key>duration</key>
        <real>-1.0000000</real>
        <key>finishColorGreen</key>
        <real>0.9019608</real>
        <key>finishColorRed</key>
        <real>0.2549020</real>
        <key>finishColorVarianceAlpha</key>
        <real>0.0000000</real>
        <key>finishColorVarianceBlue</key>
        <real>0.1137255</real>
        <key>textureFileName</key>
        <string>lizi_cj_jbs_paopao_01.png</string>
        <key>sourcePositionx</key>
        <real>378.7161255</real>
        <key>finishColorVarianceGreen</key>
        <real>0.1137255</real>
        <key>finishColorVarianceRed</key>
        <real>0.1137255</real>
        <key>radialAcceleration</key>
        <real>0.0000000</real>
        <key>finishParticleSizeVariance</key>
        <real>25.0000000</real>
        <key>sourcePositionVariancey</key>
        <real>0.0000000</real>
        <key>gravityx</key>
        <real>0.0000000</real>
        <key>sourcePositionVariancex</key>
        <real>20.0000000</real>
        <key>gravityy</key>
        <real>3.0000000</real>
        <key>maxParticles</key>
        <real>3.0000000</real>
        <key>rotationEndVariance</key>
        <real>40.0000000</real>
        <key>maxRadius</key>
        <real>0.0000000</real>
        <key>tangentialAcceleration</key>
        <real>0.0000000</real>
        <key>startColorVarianceRed</key>
        <real>0.1137255</real>
        <key>maxRadiusVariance</key>
        <real>0.0000000</real>
        <key>startColorRed</key>
        <real>0.8470588</real>
        <key>minRadius</key>
        <real>0.0000000</real>
        <key>particleLifespan</key>
        <real>8.0000000</real>
        <key>particleLifespanVariance</key>
        <real>5.0000000</real>
        <key>rotationStart</key>
        <real>0.0000000</real>
        <key>radialAccelVariance</key>
        <real>0.0000000</real>
        <key>rotatePerSecond</key>
        <real>0.0000000</real>
        <key>rotatePerSecondVariance</key>
        <real>0.0000000</real>
        <key>startColorBlue</key>
        <real>1.0000000</real>
        <key>startColorAlpha</key>
        <real>1.0000000</real>
        <key>sourcePositiony</key>
        <real>47.3110504</real>
        <key>speed</key>
        <real>50.0000000</real>
        <key>speedVariance</key>
        <real>10.0000000</real>
        <key>startColorVarianceBlue</key>
        <real>0.1137255</real>
        <key>startColorGreen</key>
        <real>1.0000000</real>
        <key>startColorVarianceAlpha</key>
        <real>0.2352941</real>
        <key>startParticleSize</key>
        <real>35.0000000</real>
        <key>tangentialAccelVariance</key>
        <real>5.0000000</real>
        <key>rotationStartVariance</key>
        <real>40.0000000</real>
        <key>rotationEnd</key>
        <real>0.0000000</real>
    </dict>
</plist>
