<?xml version="1.0" encoding="UTF-8"?>
<plist>
  <dict>
    <key>maxParticles</key>
    <real>4000</real>
    <key>angle</key>
    <real>90.000000</real>
    <key>angleVariance</key>
    <real>360.000000</real>
    <key>duration</key>
    <real>0.000000</real>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>startColorRed</key>
    <real>1.000000</real>
    <key>startColorGreen</key>
    <real>0.440000</real>
    <key>startColorBlue</key>
    <real>0.210000</real>
    <key>startColorAlpha</key>
    <real>1.000000</real>
    <key>startColorVarianceRed</key>
    <real>0.200000</real>
    <key>startColorVarianceGreen</key>
    <real>0.200000</real>
    <key>startColorVarianceBlue</key>
    <real>0.200000</real>
    <key>startColorVarianceAlpha</key>
    <real>0.000000</real>
    <key>finishColorRed</key>
    <real>1.000000</real>
    <key>finishColorGreen</key>
    <real>0.340000</real>
    <key>finishColorBlue</key>
    <real>0.130000</real>
    <key>finishColorAlpha</key>
    <real>0.000000</real>
    <key>finishColorVarianceRed</key>
    <real>0.200000</real>
    <key>finishColorVarianceGreen</key>
    <real>0.200000</real>
    <key>finishColorVarianceBlue</key>
    <real>0.200000</real>
    <key>finishColorVarianceAlpha</key>
    <real>0.540000</real>
    <key>startParticleSize</key>
    <real>20.000000</real>
    <key>startParticleSizeVariance</key>
    <real>100.000000</real>
    <key>finishParticleSize</key>
    <real>10.000000</real>
    <key>finishParticleSizeVariance</key>
    <real>3.000000</real>
    <key>sourcePositionx</key>
    <real>0.000000</real>
    <key>sourcePositiony</key>
    <real>0.000000</real>
    <key>sourcePositionVariancex</key>
    <real>100.000000</real>
    <key>sourcePositionVariancey</key>
    <real>100.000000</real>
    <key>rotationStart</key>
    <real>20.000000</real>
    <key>rotationStartVariance</key>
    <real>60.000000</real>
    <key>rotationEnd</key>
    <real>20.000000</real>
    <key>rotationEndVariance</key>
    <real>60.000000</real>
    <key>emitterType</key>
    <integer>1</integer>
    <key>maxRadius</key>
    <real>75.000000</real>
    <key>maxRadiusVariance</key>
    <real>100.000000</real>
    <key>minRadius</key>
    <real>70.000000</real>
    <key>minRadiusVariance</key>
    <real>50.000000</real>
    <key>rotatePerSecond</key>
    <real>30.000000</real>
    <key>rotatePerSecondVariance</key>
    <real>100.000000</real>
    <key>particleLifespan</key>
    <real>0.500000</real>
    <key>particleLifespanVariance</key>
    <real>0.300000</real>
    <key>textureFileName</key>
    <string>lizi_zd_yuan_01.png</string>
  </dict>
</plist>
