<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0"><dict><key>angle</key>
<real>162.500000</real>
<key>angleVariance</key>
<real>7.990000</real>
<key>duration</key>
<real>1.500000</real>
<key>startParticleSize</key>
<real>30.000000</real>
<key>startParticleSizeVariance</key>
<real>33.610001</real>
<key>finishParticleSize</key>
<real>6.000000</real>
<key>finishParticleSizeVariance</key>
<real>12.000000</real>
<key>gravityx</key>
<real>0.000000</real>
<key>gravityy</key>
<real>-32.750000</real>
<key>maxParticles</key>
<real>8.000000</real>
<key>maxRadius</key>
<real>100.000000</real>
<key>maxRadiusVariance</key>
<real>0.000000</real>
<key>minRadius</key>
<real>0.000000</real>
<key>particleLifespan</key>
<real>0.300000</real>
<key>particleLifespanVariance</key>
<real>0.200000</real>
<key>rotatePerSecond</key>
<real>0.000000</real>
<key>rotatePerSecondVariance</key>
<real>0.000000</real>
<key>rotationEnd</key>
<real>0.000000</real>
<key>rotationEndVariance</key>
<real>0.000000</real>
<key>rotationStart</key>
<real>0.000000</real>
<key>rotationStartVariance</key>
<real>57.360001</real>
<key>sourcePositionVariancex</key>
<real>60.000000</real>
<key>sourcePositionVariancey</key>
<real>60.000000</real>
<key>sourcePositionx</key>
<real>144.000000</real>
<key>sourcePositiony</key>
<real>263.000000</real>
<key>speed</key>
<real>0.000000</real>
<key>speedVariance</key>
<real>52.939999</real>
<key>startColorAlpha</key>
<real>1.000000</real>
<key>startColorBlue</key>
<real>0.729412</real>
<key>startColorGreen</key>
<real>0.882353</real>
<key>startColorRed</key>
<real>0.384314</real>
<key>startColorVarianceAlpha</key>
<real>0.482353</real>
<key>startColorVarianceBlue</key>
<real>0.000000</real>
<key>startColorVarianceGreen</key>
<real>1.000000</real>
<key>startColorVarianceRed</key>
<real>0.000000</real>
<key>finishColorAlpha</key>
<real>0.403922</real>
<key>finishColorBlue</key>
<real>0.674510</real>
<key>finishColorGreen</key>
<real>1.000000</real>
<key>finishColorRed</key>
<real>0.274510</real>
<key>finishColorVarianceAlpha</key>
<real>0.000000</real>
<key>finishColorVarianceBlue</key>
<real>0.000000</real>
<key>finishColorVarianceGreen</key>
<real>1.000000</real>
<key>finishColorVarianceRed</key>
<real>0.000000</real>
<key>tangentialAccelVariance</key>
<real>0.000000</real>
<key>tangentialAcceleration</key>
<real>0.000000</real>
<key>radialAccelVariance</key>
<real>0.000000</real>
<key>radialAcceleration</key>
<real>0.000000</real>
<key>blendFuncSource</key>
<integer>770</integer>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>emitterType</key>
<real>0</real>
<key>textureFileName</key>
<string>paopao2.png</string>
</dict></plist>
