<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>0.0</real>
	<key>angleVariance</key>
	<real>360</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<real>0.17000000178813934</real>
	<key>emitterType</key>
	<real>0.0</real>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>0.86083984375</real>
	<key>finishColorGreen</key>
	<real>0.21923828125</real>
	<key>finishColorRed</key>
	<real>0.98958331346511841</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.62860578298568726</real>
	<key>finishColorVarianceBlue</key>
	<real>0.4331430196762085</real>
	<key>finishColorVarianceGreen</key>
	<real>0.56715744733810425</real>
	<key>finishColorVarianceRed</key>
	<real>1</real>
	<key>finishParticleSize</key>
	<real>0.0</real>
	<key>finishParticleSizeVariance</key>
	<real>0.0</real>
	<key>gravityx</key>
	<real>0.0</real>
	<key>gravityy</key>
	<real>0.0</real>
	<key>maxParticles</key>
	<real>100</real>
	<key>maxRadius</key>
	<real>100</real>
	<key>maxRadiusVariance</key>
	<real>0.0</real>
	<key>minRadius</key>
	<real>0.0</real>
	<key>particleLifespan</key>
	<real>0.20000000298023224</real>
	<key>particleLifespanVariance</key>
	<real>0.30000001192092896</real>
	<key>radialAccelVariance</key>
	<real>0.0</real>
	<key>radialAcceleration</key>
	<real>0.0</real>
	<key>rotatePerSecond</key>
	<real>0.0</real>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>0.0</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>0.0</real>
	<key>rotationStartVariance</key>
	<real>0.0</real>
	<key>sourcePositionVariancex</key>
	<real>10</real>
	<key>sourcePositionVariancey</key>
	<real>10</real>
	<key>sourcePositionx</key>
	<real>505.9654541015625</real>
	<key>sourcePositiony</key>
	<real>895.33160400390625</real>
	<key>speed</key>
	<real>739.4119873046875</real>
	<key>speedVariance</key>
	<real>10</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>0.4015299379825592</real>
	<key>startColorGreen</key>
	<real>0.50390625</real>
	<key>startColorRed</key>
	<real>0.81803387403488159</real>
	<key>startColorVarianceAlpha</key>
	<real>0.68906247615814209</real>
	<key>startColorVarianceBlue</key>
	<real>1</real>
	<key>startColorVarianceGreen</key>
	<real>0.43656250834465027</real>
	<key>startColorVarianceRed</key>
	<real>0.73250001668930054</real>
	<key>startParticleSize</key>
	<real>315.55264282226562</real>
	<key>startParticleSizeVariance</key>
	<real>161.02632141113281</real>
	<key>tangentialAccelVariance</key>
	<real>0.0</real>
	<key>tangentialAcceleration</key>
	<real>0.0</real>
	<key>textureFileName</key>
	<string>xwq_paoyuan.png</string>
</dict>
</plist>
